In [5]:
# for loop 
for i in range(20,30,2): 
    print(i,i*2)

20 40
22 44
24 48
26 52
28 56

In [7]:
# count the string using for loop 
text = 'Python'
len(text)

6

In [10]:
cnt = 0 
for i in text: 
    cnt = cnt + 1 # cnt=+1

cnt

P 1
y 2
t 3
h 4
o 5
n 6

6

In [11]:
# Task = write code multiplication table

In [13]:
text

'Python'

In [4]:
# while loop 
text = 'Python'
cnt = 0 
while text[cnt:]:
    # print(cnt, text[cnt:])
    cnt = cnt + 1
    

cnt

6

In [8]:
# reverse the number using while loop
num = 415
num1 = str(num)
num1[::-1]

'514'

In [18]:
# reverse the number using while loop
num = 415
rev = 0
while num != 0:
    temp = num % 10
    # print(temp)
    rev = rev * 10 + temp
    # print(rev)
    num = num // 10
    # print(num)

rev

514

In [20]:
'hi' * 3

'hihihi'

In [23]:
# pattern generator 
num = 1 
while num <= 5: 
    print('* ' * num)
    num +=1

*
* *
* * *
* * * *
* * * * *

In [ ]:
# Task : write a pgm for inverted right angle trianle

In [25]:
# Ternary operator 
a = 7898
'Even' if a%2 == 0 else 'Odd'

'Even'

In [28]:
# break, continue, pass  
# break -- terminate the loop
for i in text: 
    if i == 'h':
        break
    print(i)

P
y
t

In [31]:
a = 5 
while a!=10:
    a +=1 
    if a == 8:
        print('before')
        break
        print('after')
    print(a)

6
7
before

In [35]:
# continue  -- it will restart the loop
for i in text: 
    if i == 'h':
        print('before')
        continue
        print('after')
    print(i)

P
y
t
before
o
n

In [36]:
a = 5 
while a!=10:
    a +=1 
    if a == 8:
        print('before')
        continue
        print('after')
    print(a)

6
7
before
9
10

In [43]:
# pass
for i in text: 
    if i == 'h':
        pass
        print('after')
    print(i)

P
y
t
after
h
o
n

In [44]:
a = 5 
while a!=10:
    a +=1 
    if a == 8:
        print('before')
        pass
        print('after')
    print(a)

6
7
before
after
8
9
10

In [64]:
# anagram 
# EX - listen, silent
# ex: dog - god
t1 = 'listen' 
t2 = 'silent'

if sorted(t1) == sorted(t2):
    print('Anagram')
else: 
    print('Non anagram')

Anagram

In [66]:
cnt = 0
for i in t1:
    for j in t2:
        # print(i, j)
        if i == j: 
            cnt +=1
            break
if len(t1) == len(t2) == cnt: 
    print('Anagram')
else: 
    print('Non anagram')

Anagram

In [67]:
# armstrong - 0, 1, 153, 370, 371, and 407. Examples of four-digit Armstrong numbers are 1634, 8208, and 9474.
153 
1 ** 3 + 5 ** 3 + 3 **3

153

In [74]:
num = -763 
num1 = str(num)
num1[::-1][-1] + num1[::-1][:3]

'-367'