

# set

In [1]:
range(10)

range(0, 10)

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
s1 = set(range(10))
s1

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [5]:
# length 
len(s1)

10

In [6]:
for i in s1: 
    print(i)

0
1
2
3
4
5
6
7
8
9

In [7]:
# enumerate 
for i in enumerate(s1 ): 
    print(i)

(0, 0)
(1, 1)
(2, 2)
(3, 3)
(4, 4)
(5, 5)
(6, 6)
(7, 7)
(8, 8)
(9, 9)

In [8]:
# String membership 
6 in s1

True

In [9]:
'8' in s1

False

In [11]:
sorted(s1, reverse=True)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [12]:
sum(s1)

45

In [13]:
min(s1)

0

In [14]:
max(s1)

9

In [16]:
import math

In [20]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [22]:
avg = sum(s1)/len(s1)
avg

4.5

# Dict 
* Representation - {key : value}

In [24]:
# create a dict 
my_dict = {}
my_dict, type(my_dict)

({}, dict)

In [25]:
my_dict1 = {'a':1, 'b':8, 100:'dict'}
my_dict1

{'a': 1, 'b': 8, 100: 'dict'}

In [27]:
mydict2 = {('a', 'b'): 10, 'b':[20, 40, 60]}
mydict2

{('a', 'b'): 10, 'b': [20, 40, 60]}

In [28]:
my_dict1.keys()

dict_keys(['a', 'b', 100])

In [29]:
my_dict1.values()

dict_values([1, 8, 'dict'])

In [30]:
my_dict1.items()

dict_items([('a', 1), ('b', 8), (100, 'dict')])

In [31]:
# Access dict through key
my_dict1[100]

'dict'

In [32]:
my_dict1['a']

1

In [33]:
my_dict1[10]

KeyError: 10

In [34]:
my_dict1.get(100)

'dict'

In [35]:
my_dict1.get(10)

In [36]:
myset = {'a', 'b', 'c'}
value = 10

dict.fromkeys(myset, value)

{'b': 10, 'c': 10, 'a': 10}

In [37]:
myset = {'a', 'b', 'c'}
value = [10, 20, 30]

dict.fromkeys(myset, value)

{'b': [10, 20, 30], 'c': [10, 20, 30], 'a': [10, 20, 30]}

In [38]:
dict1 = {'name':'Roja', 'ID': 12345, 'job':'Data Scientist'}
dict1

{'name': 'Roja', 'ID': 12345, 'job': 'Data Scientist'}

In [39]:
dict1['name']

'Roja'

In [40]:
# To add data in to dict
dict1.update({'Location':'Chennai'})
dict1

{'name': 'Roja', 'ID': 12345, 'job': 'Data Scientist', 'Location': 'Chennai'}

In [42]:
# To remove data from the dict
dict1.pop('ID')

12345

In [43]:
dict1

{'name': 'Roja', 'job': 'Data Scientist', 'Location': 'Chennai'}

In [45]:
# clear()
my_dict1.clear()

In [46]:
my_dict1

{}

In [48]:
del mydict2['b']

In [49]:
mydict2

{('a', 'b'): 10}

In [50]:
del mydict2

In [51]:
mydict2

NameError: name 'mydict2' is not defined

In [56]:
# loop through dict 
for i in dict1: 
    # print(i) # keys
    # print(dict1[i]) # values
    print(i, ':', dict1[i])

name : Roja
job : Data Scientist
Location : Chennai

In [69]:
s1

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [62]:
# dict comprehension 
{i:i**2 for i in s1}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [65]:
str1 = 'Data'
{k:v for (k,v) in enumerate(str1, start=11)}

{11: 'D', 12: 'a', 13: 't', 14: 'a'}

In [74]:
# Find the occurance of char with the string 
str2 = 'Welcome' 

d = {}
for i in str2: 
    d[i] = str2.count(i)

d

{'W': 1, 'e': 2, 'l': 1, 'c': 1, 'o': 1, 'm': 1}

In [75]:
{i:str2.count(i) for i in str2}

{'W': 1, 'e': 2, 'l': 1, 'c': 1, 'o': 1, 'm': 1}

In [76]:
nested_dict = {  
    'person1': {
        'name': 'John',
        'age': 25,
        'address': {
            'street': '123 Main St',
            'city': 'Exampleville',
            'zipcode': '12345'
        }
    },
    'person2': {
        'name': 'Alice',
        'age': 30,
        'address': {
            'street': '456 Elm St',
            'city': 'Sampletown',
            'zipcode': '54321'
        }
    }
}

nested_dict

{'person1': {'name': 'John',
  'age': 25,
  'address': {'street': '123 Main St',
   'city': 'Exampleville',
   'zipcode': '12345'}},
 'person2': {'name': 'Alice',
  'age': 30,
  'address': {'street': '456 Elm St',
   'city': 'Sampletown',
   'zipcode': '54321'}}}

In [79]:
nested_dict['city']

KeyError: 'city'

In [80]:
nested_dict.keys()

dict_keys(['person1', 'person2'])

In [82]:
nested_dict['person2']

{'name': 'Alice',
 'age': 30,
 'address': {'street': '456 Elm St', 'city': 'Sampletown', 'zipcode': '54321'}}

In [87]:
nested_dict['person1']['address']['street']

'123 Main St'

# Control structures  
* if, elif, else
* for loop
* while loop

In [89]:
# if 
a = 100 
if a ==100: 
    print('Yes, a is a given value')

Yes, a is a given value

In [90]:
a = 100 
if a == 10: 
    print('Yes, a is a given value')

In [91]:
a = 100 
if a == 10: 
    print('Yes, a is a given value') 
else: 
    print('A is not equal to given value')

A is not equal to given value

In [96]:
text = 'Data science'
if 'a' in text: 
    print('a is available')
if 'e' in text: 
    print('e is available')
if 'u' in text: 
    print('u is available')
isf 'i' in text: 
    print('i is available')
if 'o' in text: 
    print('o is available')

a is available
e is available
i is available

In [1]:
mark = int(input('Enter the mark: '))

if mark >=90 and mark <= 100: 
    print("Congratulations! Your Grade is 'A'")
elif mark >=70 and mark < 90: 
    print('Your Grade is B')
elif mark >=50 and mark < 70: 
    print('Your Grade is C')
else: 
    print('Sorry, try again to get good marks')

Enter the mark:  09

Sorry, try again to gert good marks